.exampleborderradius {
    background-color: #eee;
    padding: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
}
.exampleborderradiusa {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-bottom-right-radius: 50px;
}
.exampleborderradiusb {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-bottom-right-radius: 60px 25px;
}
.exampleborderradiusc {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-bottom-right-radius: 25px 60px;
}
.exampleborderradiusd {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    width: 12em;
    height: 5em;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.exampleborderradiuse {
    background-color: #464646;
    float:left;
    margin-top: 20px;
    margin-right: 40px;
    height: 65px;
    width:160px;
    text-align: center;
    border-top-left-radius: 20px 5px;
    border-bottom-right-radius: 20px 5px;
    border-top-right-radius: 5px 20px;
    border-bottom-left-radius: 5px 20px;
}
.exampleborderradiusf {
    float:left;
    background-color: #464646;
    margin-top: 20px;
    margin-right: 40px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 35px;
}
.examplelabelborderradius {
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
}
