div {
    width: 150px;
    height: 100px;
    margin: 10px;
    background-color: #999;
    float: left;
    text-align: center;
}
div p {
    margin-top: 41px;
}
.a {
    box-shadow: -5px -5px #383838;
}
.b {
    box-shadow: -5px -5px 8px #383838;
}
.c {
    box-shadow: -5px -5px 0 5px #383838;
}
.d {
    box-shadow: -5px -5px 5px 5px #383838;
}
.e {
    box-shadow: 0 0 2px 1px #383838;
}
.f {
    box-shadow: 0 0 2px 4px #383838;
}
.g {
    box-shadow: inset -5px -5px #383838;
}
.h {
    box-shadow: inset -5px -5px 8px #383838;
}
.i {
    box-shadow: inset -10px -10px #383838;
}
.j {
    box-shadow: inset -5px -5px 10px 5px #383838;
}
.k {
    box-shadow: inset 0 0 3px 1px #383838;
}
.l {
    box-shadow: inset 0 0 5px 5px #383838;
}